#noResultsMessage,
#saveMessage {
    color: red;
    text-align: center;
}

.btn {
    width: 125px;
}

.display,
.video,
#resultDiv {
    margin-left: 70px;
    margin-right: 70px;
}

#title {
    font-size: 50px;
}

.container map {
    text-align: center;
}

h1 {
    text-align: center;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0px;
    border: 12px double royalblue;
    border-radius: 6px;
}

#submit,
#submitSocial,
#submitNews,
#GoogleSignIn {
    background-color: rgb(0, 200, 255);
    border-radius: 6px;
    border: 5px solid royalblue;
    color: white;
    padding: 2px;
    font-weight: bold;
    width: 100px;
    display: inline-block;
    float: left;
}

#GoogleSignIn {
    width: 160px;
    margin-left: 25px;
}

.linkButton {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
    margin-right: 20px;
}

.delete {
    background-color: rgb(0, 200, 255);
    border-color: royalblue;
    border-width: 5px;
    color: white;
    margin-right: 20px;
}

.saveBtn {
    margin-right: 20px;
    background-color: rgb(0, 200, 255);
    border-color: royalblue;
    border-width: 5px;
    color: white;
}

a {
    color: white;
}

#networkView {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
}

#yTLink {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
}

.delete {
    background-color: rgb(0, 200, 255);
    border-color: royalblue;
    border-width: 5px;
    color: white;
}

#articleLink {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
}

#locationForm {
    position: relative;
    z-index: 100;
    bottom: 90px;
    left: 350px;
}

#add-location {
    margin-top: 10px;
}

#ytpng {
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#redpng {
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#saved {
    height: 100px;
    width: 200px;
}

.dropdown-menu {
    z-index: 1100;
}

#draw-shapes {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    float: left;
    padding-top: 50px;
}

#footer {
    height: 100px;
    width: auto;
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 90px;
}

#menu1 {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

#searchTerm,
#search {
    border-width: 3px;
    width: 61%;
    float: left;
    margin-right: 20px;
    margin-left: 70px;
}

body {
    background: url("../images/clouds.jpg");
    background-size: cover;
}

#GoogleSign {
    padding: 40px;
    margin-top: 5px;
}

#AboutBtn {
    background-color: rgb(0, 200, 255);
    border: 6px solid royalblue;
    color: white;
    font-weight: bold;
    font-size: 12.5px;
    border-radius: 5px;
    padding: 4px 12px;
    float: right;
    margin-right: 4%;
}

#alt-logo {
    display: none;
}

#myHeading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
    font-family: 'Concert One', cursive;
    font-weight: bold;
}

#myBody {
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    font-family: 'Palanquin Dark', sans-serif;
}

#bigBox {
    margin-top: 30px;
}

#aboutText {
    border-style: solid;
    border-color: royalblue;
    border-width: 12px;
    padding-top: 30px;
    background-color: #00c8ff;
    color: white;
}

@media screen and (max-width: 1630px) {
    #draw-shapes {
        display: none;
    }
    #alt-logo {
        display: inline;
    }
    #alt-logo img {
        display: block;
        padding: 40px;
        padding-bottom: 55px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1080px) {
    #alt-logo img {
        max-width: 700px;
    }
}

@media screen and (max-width: 1030px) {
    .display,
    .video,
    #resultDiv {
        margin-left: 15px;
        margin-right: 15px;
    }
    #searchTerm,
    #search {
        width: 53%;
        margin-left: 15px;
    }
}

@media screen and (max-width: 700px) {
    #alt-logo img {
        max-width: 550px;
    }
    #locationForm {
        left: 170px;
    }
    #menu1 {
        width: 120px;
    }
    .display,
    .video,
    #resultDiv {
        margin-left: 15px;
        margin-right: 15px;
    }
    #searchTerm,
    #search {
        width: 53%;
        margin-left: 15px;
    }
    #GoogleSignIn {
        width: 140px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 550px) {
    #alt-logo img {
        max-width: 420px;
    }
    #locationForm {
        left: 170px;
    }
    #menu1 {
        width: 120px;
    }
    .display,
    .video,
    #resultDiv {
        margin-left: auto;
        margin-right: auto;
    }
    #GoogleSignIn {
        width: 160px;
    }
    #searchTerm,
    #search {
        width: 100%;
        margin: 0 0 10px;
    }
    #submit,
    #submitSocial,
    #submitNews {
        margin-left: 45px;
    }
    #GoogleSign {
        padding: 0;
        margin: 20px;
    }
    #map {
        margin-top: 20px;
    }
    .form-inline {
        margin-bottom: 20px;
    }
}
