
/*step 1 of 3 to make sticky footer*/
html {
    position: relative;
    min-height: 100%;
}

/*margin-bottom 80px step 2 of 3 to make sticky footer*/
body {
    background: url("../images/clouds.jpg");
    background-size: cover;
    margin-bottom: 80px;
}

/*for logo*/
#draw-shapes {
    margin: 0 auto;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
    float: left;
    padding-top: 50px;
}

#alt-logo {
    display: none;
}

.btn {
    width: 125px;
}

a {
    color: white;
}

.dropdown-menu {
    z-index: 1100;
}

/*for drop-down menu*/
#menu1 {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

/*aligns dropdown size and position with menu button*/
.dropdown-menu {
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    text-align: center;
    min-width: 125px;
}

.container map {
    text-align: center;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0px;
    border: 12px double royalblue;
    border-radius: 6px;
}

/*for map*/
#locationForm {
    position: relative;
    z-index: 100;
    bottom: 90px;
    left: 350px;
}

/*for map*/
#add-location {
    margin-top: 10px;
}

/*Google and About buttons on index page*/
#indexButtons {
    margin-top: 40px;
}

#aboutBtn {
    background-color: rgb(0, 200, 255);
    border: 5px solid royalblue;
    color: white;
    font-weight: bold;
    font-size: 12.5px;
    border-radius: 5px;
    width: 160px;
    padding: 5.5px 12px;
    float: left;
    margin-right: 4%;
    margin-left: 69px;
}

#submit,
#GoogleSignIn {
    background-color: rgb(0, 200, 255);
    border-radius: 6px;
    border: 5px solid royalblue;
    color: white;
    padding: 2px;
    font-weight: bold;
    display: inline-block;
    padding: 4px 12px;
}

#GoogleSignIn {
    width: 160px;
    margin-right: 69px;
    float: right;
}

/*submits searchTerm from input box*/
#submit {
    float: left;
    width: 11.5%;
}

#searchTerm {
    border-width: 3px;
    width: 75%;
    float: left;
    margin-right: 15px;
    margin-left: 69px;
    height: 38px;
}

#resultMessage {
    color: red;
    text-align: center;
}

#resultMessageDiv {
    height: 50px;
}

/*for about page*/
#aboutBox {
    margin-top: 30px;
}

#aboutHeading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
    font-family: 'Concert One', cursive;
    font-weight: bold;
}

#aboutBody {
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    font-family: 'Palanquin Dark', sans-serif;
}

#aboutText {
    border-style: solid;
    border-color: royalblue;
    border-width: 12px;
    padding-top: 30px;
    background-color: #00c8ff;
    color: white;
}

/*button to delete article*/
.delete {
    background-color: rgb(0, 200, 255);
    border-color: royalblue;
    border-width: 5px;
    color: white;
    margin-right: 20px;
}

/*button to save article*/
.saveBtn {
    margin-right: 20px;
    background-color: rgb(0, 200, 255);
    border-color: royalblue;
    border-width: 5px;
    color: white;
}

/*displays results - display for Github, video for YouTube,*/
/*#resultDiv for Reddit & .resultDiv for saved items*/
.display,
.video,
#resultDiv,
.resultDiv {
    margin-left: 70px;
    margin-right: 70px;
}

/*YouTube video link*/
#yTLink {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
}

/*Reddit article link*/
#articleLink {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
}

/*Github item view button*/
#networkView {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
}

/*link to article after retrieve from Firebase*/
.linkButton {
    background-color: #FF8000;
    border-color: orangered;
    border-width: 5px;
    margin-right: 20px;
}

/*position absolute/bottom 0/width 100% is step 3 of 3 to make sticky footer*/
#footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 90px;
}

/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1630px) {
    #draw-shapes {
        display: none;
    }
    #alt-logo {
        display: inline;
    }
    #alt-logo img {
        display: block;
        padding: 40px;
        padding-bottom: 55px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1080px) {
    #alt-logo img {
        max-width: 700px;
    }
}

/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1030px) {
    .display,
    .video,
    #resultDiv {
        margin-left: 15px;
        margin-right: 15px;
    }
    /*#searchTerm,
    #search {
        width: 53%;
        margin-left: 15px;
    }*/
}

/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 700px) {
    #alt-logo img {
        max-width: 550px;
    }
    #locationForm {
        left: 170px;
    }
    #menu1 {
        width: 120px;
    }
    .display,
    .video,
    #resultDiv {
        margin-left: 15px;
        margin-right: 15px;
    }
   /* #searchTerm,
    #search {
        width: 53%;
        margin-left: 15px;
    }*/
    #GoogleSignIn {
        width: 140px;
        margin-left: 10px;
    }
}

/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 550px) {

    #alt-logo img {
        max-width: 420px;
        margin-left: -8px;
    }

    #locationForm {
        left: 170px;
    }

    .dropdown-menu {
        text-align: center;
    }

    #menu1 {
        width: 95px;
        margin-left: -12px;
        padding-left: 2px;
        text-align: center;
    }

    .caret {
        display: none;
    }

    .display,
    .video,
    #resultDiv {
        margin-left: auto;
        margin-right: auto;
    }

    .GoogleSignIn {
        width: 160px;
    }

    #searchTerm {
        /*width: 100%;*/
        margin: 0 0 0 -12px;
    }

    #submit {
        width: 25%;
        margin-left: 5px;
    }

    .GoogleSignInIndex {
        margin-right: 5px;
    }

    #AboutBtn {
        margin-left: 5px;
    }

    #map {
        margin-top: 20px;
    }

    .form-inline {
        margin-bottom: 20px;
    }
}
